@import "../common/styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: $grayMiddle;
}

@media (min-width: 788px) {
  body {
    display: flex;
  }
}
