@import '../common/styles/variables';

.iconColor {
    color: $orange;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 1.5rem;
    background-color: $grayEnd;
    border-bottom: .1rem solid $grayStart;
}

