@import '../styles/variables';

.iconColor {
    color: $orange;
}

.navbar {
    display: flex;
    gap: 2rem;
    padding: 2rem 1.5rem;
    background-color: $grayEnd;
    border-bottom: .1rem solid $grayStart;
}

.navTabs {
    display: flex;
}

.navTabs li {
    color: $white;
    padding: 1rem;
    background-color: $grayStart;
}

.content {
    background-color: $grayMiddle;
}